body {
  font-family: "Lora", "Times New Roman", "Arvo"; 
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #FFF8DC;
  margin-top: 80px;
}

h1, h2 {
  font-family:"Lora", "Times New Roman", "Arvo";
  color: #333;
  text-align: center;
}

nav {
  text-align: center;
  background-color: #3498db;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
   padding: 14px 16px;
  font-size: 17px;
  text-decoration: none; 
  color: #FFF0F5;
}

section {
  margin-bottom: 20px;
  background-color: #FFFAF0;
  max-width: 900px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #333;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.alexandria {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.egypt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.cairo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  width: auto;
}

.mansoura {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.fluid-layout {
  width: 100%;
}

.fixed-layout {
  width: 960px;
  margin: 0 auto;
}
